<a href="{% url 'add.new.job' %}">Pridėti darbo skelbimą</a>
<br>
<a href="{%  url 'see.all.jobs' %}">Darbo skelbimai</a>
<br>
<a href="{%  url 'see.all.request.queries' %}">Užklausos</a>
<br>
<a>Nepatvirtinti užsakymai</a>
<br>
<a>Visi užsakymai</a>
<br>
<a>Klientų sąrašas</a>
<br>
<a>Laikinųjų darbuotojų sąrašas</a>
<br>
<a>Administracijos darbuotojų sąrašas</a>
<br>
<a>Pridėti naują administracijos darbuotoją</a>
<br>
<a>Buhalterijos darbuotojų sąrašas</a>
<br>
<a>Pridėti buhalterijos darbuotoją</a>
<br>
<br>
<br>
