<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Darbo skelbimai
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a href="{% url 'add.new.job' %}" class="dropdown-item">Pridėti darbo skelbimą</a></li>
        <li><a href="{% url 'see.all.jobs' %}" class="dropdown-item">Darbo skelbimai</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Užklausos
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a href="{% url 'see.all.request.queries' %}" class="dropdown-item">Užklausos</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Užsakymai
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a href="#" class="dropdown-item">Visi užsakymai</a></li>
        <li><a href="#" class="dropdown-item">Nepatvirtinti užsakymai</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Klientai
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a href="{% url 'client.list' %}" class="nav-link">Klientų sąrašas</a>
        </li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Darbuotojai
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                <div class="dropdown dropend">
                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administracijos darbuotojai</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                        <a class="dropdown-item" href="#">Basic</a>
                        <a class="dropdown-item" href="#">Compact Aside</a>
                    </div>
                </div>
                        <div class="dropdown dropend">
                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buhalterijos darbuotojai</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                        <a class="dropdown-item" href="#">Basic</a>
                        <a class="dropdown-item" href="#">Compact Aside</a>
                    </div>
                </div>
                        <div class="dropdown dropend">
                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Laikinieji darbuotojai</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                        <a class="dropdown-item" href="#">Basic</a>
                        <a class="dropdown-item" href="#">Compact Aside</a>
                    </div>
                </div>
    </ul>
</li>


