

    {% block navbar %}
    <!-- ADMIN PANEL-->
    {% if user.role == user.ADMIN %}
        {% include 'home/admin_panel.html'%}
    {% endif %}
    <!-- CLIENT PANEL-->
    {% if user.role == user.CLIENT %}
        {% include 'home/client_panel.html'%}
    {% endif %}
    <!-- TEMP WORKER PANEL-->
    {% if user.role == user.TEMP_WORKER %}
        {% include 'home/temp_worker_.html'%}
    {% endif %}
    <!-- ACCOUNTANT PANEL-->
    {% if user.role == user.ACCOUNTANT %}
        {% include 'home/accountaint_panel.html'%}
    {% endif %}
    {% endblock %}

