

    {% block navbar %}
    <!-- ADMIN PANEL-->
    {% if user.role == user.ADMIN %}
        {% include 'home/admin_panel.html'%}
    {% endif %}


    <!-- CLIENT PANEL-->
    {% if user.role == user.CLIENT %}
        <p>Client goes brrr</p>
    {% endif %}
    <!-- TEMP WORKER PANEL-->
    {% if user.role == user.TEMP_WORKER %}
        <p>Temp goes brrr</p>
    {% endif %}
    <!-- ACCOUNTANT PANEL-->
    {% if user.role == user.ACCOUNTANT %}
        <p>Accountant goes brrr</p>
    {% endif %}
    {% endblock %}

